@import "@/styles/mixins";

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;

    @include md {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    @include xl {
        grid-template-columns: repeat(6, 1fr);
    }

    @include xxl {
        grid-template-columns: repeat(6, 1fr);
        gap: 22px;
    }
}