.bg_linear {
  background-image: url(../../../public/images/Vector113.png);
  background-size: cover;
  background-position: right;
}
.bg_linear_desktop {
  background-image: url(../../../public/images/Vector112.png);
  background-size: cover;
}
.t1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.t3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  text-align: justify;
  color: #000000;
}
