.bg_linear {
  background-image: url(../../../public/images/Vector113.png);
  background-size: cover;
}
.bg_linear_desktop {
  background-image: url(../../../public/images/Vector112.png);
  background-size: cover;
}
.t1 {
  font-family: 'Changa One';
  font-weight: 400;
  font-size: 80px;
  line-height: 85px;
  color: #dc265b;
}
.t2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.t3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
}
