.iconBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 42px;
  left: -3px;
  top: 39px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0px 10px 10px 0px;
  color: #ff860a;

  @media screen and (min-width: 768px) {
    top: 23px;
  }
}
