.bg_linear {
  background-image: url(../../../public/images/Vector111.png);
  background-size: cover;
}
.button_linear {
  width: 221px;
  background: linear-gradient(267.2deg, #cc2554 -13.07%, #f6950c 102.32%);
  border-radius: 32.5px;
}
