.loading_dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,50%);
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 5px;
  animation: bounce 0.5s infinite alternate;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  to {
    transform: translate3d(0, -10px, 0);
  }
}
