@import "@/styles/mixins";

.wrapper {

  &:hover {
    .itemGame {
      transform: scale(1.05869) translate(0px, -4px);

      &::after {
        background: linear-gradient(0.72deg, rgba(0, 0, 0, 0.6) 7.63%, rgba(217, 217, 217, 0) 99.44%);
        opacity: 1;
        // box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 12px 0px;
      }
    }

    .actionFavourite,
    .title {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

}

.itemGame {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  transition: transform 1s cubic-bezier(.25, .1, .25, 1);
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
  user-select: none;
  transition-duration: 0.3s;

  &::after {
    content: "";
    opacity: 0;
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 50%;
    z-index: 4;
    border-radius: 10px;
    contain: strict;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
    transition: box-shadow 0.6s var(--bezier), opacity 0.3s var(--bezier);
    background: linear-gradient(transparent 25%, rgba(0, 0, 0, 0.3) 100%);
  }

  img {
    border-radius: 10px;
    overflow: hidden;
  }
}

.tagLarge,
.tag,
.favourite {
  position: absolute;
  z-index: 2;
  top: 12px;
}

.tag,
.tagLarge {
  color: #F0A700;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 30px 0px;
  font-weight: 800;
  left: -7px;

  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0px;
    z-index: 1;
  }
}

.tag {
  padding: 4px 6px;
  font-size: 9px;
  line-height: 10px;
  top: 10px;

  @include xl {
    top: 14px;
    font-size: 16px;
    line-height: 22px;
    padding: 7px 10px 7px 7px;
    border-radius: 0px 0px 18px 0px;
  }

  &::before {
    border-bottom: 5px solid #ACABBE;
    border-left: 8px solid transparent;
    top: -5px;

    @include xl {
      border-bottom: 3px solid #ACABBE;
      border-left: 9px solid transparent;
      top: -6px;
    }
  }
}

.tagLarge {
  padding: 4px 7px 7px 6px;
  font-size: 12px;
  line-height: 14px;

  @include xl {
    font-size: 26px;
    line-height: 31px;
    padding: 14px 12px;
  }

  &::before {
    border-bottom: 5px solid #ACABBE;
    border-left: 8px solid transparent;
    top: -5px;

    @include xl {
      border-bottom: 7px solid #ACABBE;
      border-left: 10px solid transparent;
      top: -7px;
    }
  }
}

.favourite {
  left: 12px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include xl {
    width: 45px;
    height: 45px;
  }

  svg {
    width: 20px;

    @include xl {
      width: 100%;
    }
  }
}

.favouriteSmall {
  width: 25px !important;
  height: 25px !important;
  left: 5px;
  top: 5px;

  svg {
    width: 15px !important;
  }

  @include md {
    width: 30px;
    height: 30px;
    left: 12px;
    top: 12px;
  }

  @include xl {
    width: 45px;
    height: 45px;
    left: 12px;
    top: 12px;
  }

  svg {
    width: 15px;

    @include md {
      width: 20px;
    }

    @include xl {
      width: 100%;
    }
  }
}

.title,
.actionFavourite {
  transition: transform 0.3s var(--bezier), opacity 0.3s var(--bezier);
  transform: translate(0px, 22px);
  opacity: 0;
}

.title {
  font-family: 'Inter';
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  right: 0px;
  bottom: 10px;
  left: 0px;
  padding: 0 20px;
  text-align: center;
  z-index: 6;

  @include xxl {
    font-size: 16px;
    line-height: 19px;
    padding: 0 35px;
    bottom: 16px;
  }
}

.actionFavourite {
  right: 2px;
  top: calc(50% - 9px);
  transform: translateY(-50%);
  z-index: 9;

  @include xxl {
    right: 8px;
  }

  svg {
    width: 17px;

    @include xxl {
      width: auto;
    }
  }

}

.favoriteIcon {
  transition: transform 0.3s ease-in-out;
  /* Thời gian và kiểu hiệu ứng có thể điều chỉnh */
}

.favorite:active {
  // transform: scale(1.2); /* Scale lên 1.2 khi hover */
  color: #F0A700;
  background-color: #F0A700;
}

.lightEffect {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(-50%, 0%, 0px);
  will-change: transform, opacity;
  pointer-events: none;
  opacity: 0;
  z-index: 3;
  animation: 6s linear 6s infinite normal none running lightTransform;
  min-width: 768px;
  height: 768px;
}

@keyframes lightTransform {
  0% {
    transform: translate3d(-55%, -5%, 0px);
    opacity: 0;
  }

  1% {
    transform: translate3d(-50%, 0%, 0px);
    opacity: 1;
  }

  10% {
    transform: translate3d(0%, -50%, 0px);
    opacity: 1;
  }

  15% {
    transform: translate3d(0%, -50%, 0px);
    opacity: 0;
  }

  39.99% {
    transform: translate3d(-55%, -5%, 0px);
    opacity: 0;
  }

  40% {
    transform: translate3d(-50%, 0%, 0px);
    opacity: 1;
  }

  50% {
    transform: translate3d(0%, -50%, 0px);
    opacity: 1;
  }

  66% {
    transform: translate3d(0%, -50%, 0px);
    opacity: 0;
  }

  100% {
    transform: translate3d(0%, -50%, 0px);
    opacity: 0;
  }
}