// font Barlow
@font-face {
  font-family: "Barlow";
  src: url('/fonts/Barlow-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url('/fonts/Barlow-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url('/fonts/Barlow-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

// font Inter
@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

// font Outfit
@font-face {
  font-family: "Outfit";
  src: url('/fonts/Outfit-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

// font Montserrat
@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

// font Genos
@font-face {
  font-family: "Genos";
  src: url('/fonts/Genos-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

// font Changa One
@font-face {
  font-family: "Changa One";
  src: url('/fonts/ChangaOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}